@use './../base/global';
@use './../base/utils';
@use './../base/media';
@use 'sass:map';

@keyframes Opacity-Fade-Out{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.1; 
  }
}

@keyframes Slide-In-From-Right{
  100%{
    --text-opacity: 1;
    transform: translate(-10%, 0%);
  }
}

@keyframes Slide-In-Box-Shadow{
  100%{
    box-shadow: inset -400px 0 0 0 global.$background;
  }
}

#about-me{
  font-family: Body-Text;

  #author{
    @include utils.flex-center;
    box-shadow: inset 0 0 0 0 global.$background;
    grid-area: head;
    font-family: Heading-Text;
    font-size: global.$fs-500;
    background-color: global.$dark;
    color: global.$dark;
    transform: translateY(75%);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(global.$background, 0.5);
    text-transform: uppercase;
    position: relative;
    transition: ease-out 0.4s;
    border: 2px solid global.$dark;

    animation: Slide-In-Box-Shadow 0.5s global.$kf-cubic forwards;
    animation-delay: map.get(global.$delays, "about-me-section");
  }

  #cover{
    @include utils.box-shadow(global.$accent-2, $opposite: false);
    grid-area: main;
    background-color: rgba(global.$accent-2, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  h1{
    font-family: Heading-Text;
    position: absolute;
    top: 25%;
    font-size: global.$fs-xxl;
    line-height: 75px;
    color: global.$dark;
    
    text-align: center;
    text-transform: uppercase;
  }

  .block[pos="left"]{
    @include utils.box-shadow(global.$accent-1, $opposite: true);
    grid-area: main-side;
    background-color: rgba(global.$accent-1, 0.6);
    height: 75%;
    transform: translate(25%, 50%);
    z-index: -1;
  }

  .block[pos="foot-side"]{
      grid-area: foot-side;
      background-color: global.$dark;
      height: 15%;
      transform: translateY(200%);
    }

  .block[pos="right"]#bio{
    --text-opacity: 0;
    grid-area: main;
    height: 100%;
    width: 125%;
    font-weight: 800;
    font-size: global.$fs-xl;
    // line-height: global.$line-height-500;
    // background-color: global.$dark;
    color: rgba(global.$dark, var(--text-opacity));
    padding: global.$display-padding;
  
    transform: translate(100%, 0%);
    animation: Slide-In-From-Right 0.5s global.$kf-cubic forwards;
    animation-delay: map.get(global.$delays, "about-me-section");

    span{
      font-family: Heading-Text;
      font-weight: 800;
      // color: rgba(global.$highlight, var(--text-opacity));
    }

    @media only screen and (min-height: media.$mobile-height) {
      height: 80%;
    } 
  }

  *[will-transition="true"]{

    &[transition-type="opacity"]{
      animation: Opacity-Fade-Out 0.5s global.$kf-cubic forwards;
      animation-delay: map.get(global.$delays, "about-me-section");
    }
    
  }
}