@use './../base/global';
@use './../base/utils';
@use 'sass:map';

@keyframes Opacity-Fade-Out{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.15; 
  }
}

@keyframes Slide-In-From-Right{
  100%{
    --text-opacity: 1;
    transform: translate(-10%, 0%);
  }
}

#about-me{
  font-family: Podkova;

  #author{
    grid-area: head;
    transform: translateY(75%);
    background-color: global.$dark;
    color: global.$background;
    @include utils.flex-center;
    @include utils.box-shadow(global.$dark, $opposite: true);
  }

  #cover{
    @include utils.box-shadow(global.$accent-2, $opposite: false);
    grid-area: main;
    background-color: rgba(global.$accent-2, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  h1{
    font-weight: 800;
    position: absolute;
    top: 15%;
    font-size: global.$fs-xl;
    font-size: global.$fs-xxl;
    line-height: 80px;
    text-transform: uppercase;
    overflow-wrap: break-word;
    text-align: center;
    color: global.$dark;
  }

  .icon{
    height: 25%;
    aspect-ratio: 1/1;
    align-self: end;
    opacity: 0;

    .frames{ fill: global.$dark; }
    .lens{ fill: #403f3fc4; }
    .reflect{ fill: #828181c4; }
    .corner-circle{ fill: global.$highlight; }
  }

  .block[pos="left"]{
    @include utils.box-shadow(global.$accent-1, $opposite: true);
    grid-area: main-side;
    background-color: global.$accent-1;
    height: 75%;
    transform: translate(25%, 50%);
    z-index: -1;
  }

  .block[pos="foot-side"]{
      grid-area: foot-side;
      background-color: global.$dark;
      height: 15%;
      transform: translateY(200%);
    }

  .block[pos="right"]#bio{
    --text-opacity: 0;

    grid-area: main;
    height: 100%;
    width: 125%;
    font-size: global.$fs-xl;
    line-height: global.$line-height-500;
    background-color: global.$dark;
    color: rgba(global.$background, var(--text-opacity));
    padding: global.$display-padding;
  
    transform: translate(100%, 0%);
    animation: Slide-In-From-Right 0.5s global.$kf-cubic forwards;
    animation-delay: map.get(global.$delays, "about-me-section");

    span{
      font-weight: 800;
      color: rgba(global.$highlight, var(--text-opacity));
    }
  }

  *[will-transition="true"]{

    &[transition-type="opacity"]{
      animation: Opacity-Fade-Out 0.5s global.$kf-cubic forwards;
      animation-delay: map.get(global.$delays, "about-me-section");
    }
    
  }
}