@use 'sass:map';
@use './../base/global';
@use './../base/utils';

@keyframes Slide-In{
  0%{
    transform: translateY(global.$kf-slide-value);
  }
  100%{
    transform: translateY(0);
  }
}

$child-size: 100svh;

main{
  $margin: 0.25em;
  font-family: Serif-Text;
  width: 100%;
  color: global.$dark;
  // animation: Slide-In 
  //   global.$kf-slide-timing
  //   map.get(global.$delays, "last")
  //   cubic-bezier(.45,.33,.31,1.13)
  //   forwards;
  display:flex;
  flex-direction: column;

  & > .content-block{
    height: $child-size;
    display: grid;
    @include utils.grid-count-mobile;
  }

  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5em solid global.$dark;
    padding: $margin global.$display-padding global.$display-padding global.$display-padding;
  }

  h2{
    font-family: Bungee;
    -webkit-text-stroke-width: 1px;
    font-size: global.$fs-600;
    color: global.$dark;
  }
}