@use 'sass:map';
@use './../base/global';
@use './../base/utils';

@keyframes Slide-In{
  0%{
    transform: translateY(global.$kf-slide-value);
  }
  100%{
    transform: translateY(0);
  }
}

$child-size: 100svh;

main{
  $margin: 0.25em;
  width: 100%;
  color: global.$dark;
  animation: Slide-In 
    global.$kf-slide-timing
    map.get(global.$delays, "last")
    cubic-bezier(.45,.33,.31,1.13)
    forwards;
  display:flex;
  flex-direction: column;

  & > .content-block{
    height: $child-size;
    display: grid;
    @include utils.grid-count-mobile;
  }

  header{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 0.5em solid global.$dark;
    padding: $margin global.$display-padding global.$display-padding global.$display-padding;
    
    .icon{
      height: 75px;
      aspect-ratio: 1/1;
      opacity: 0.8;
  
      .frames{ fill: global.$dark; }
      .lens{ fill: #403f3fc4; }
      .reflect{ fill: #828181c4; }
      .corner-circle{ fill: global.$highlight; }
    }
  }

  h2{
    -webkit-text-stroke-width: 1px;
    font-size: global.$fs-600;
    color: global.$dark;
  }
}