@font-face{
  font-family: Heading-Text;
  src: url('./../fonts/Modak-Regular.ttf');
}
@font-face{
  font-family: Body-Text;
  src: url('./../fonts/Numans-Regular.ttf');
}

$fs-xxl: 110px;
$fs-xl: clamp(1.75rem, 4vw, 3.5rem);
$fs-500: clamp(1.25rem, 2.5vw, 1.5rem);


$fs-600: clamp(1.5rem, 3vw, 1.75rem);
$fs-400: clamp(1rem, 1.4vw, 1.5rem);
$line-height-500: 35px;

$display-padding: 0.5em;

$background: #F2EBDC;
$dark: #26221C;
$highlight: #FF6663;
$accent-2: #FF6663;
$accent-main: #2c6e49;
$accent-1: #a51080;

$kf-timing: 0.6s;
$kf-slide-timing: 0.8s;
$kf-slide-value: 100svh;
$kf-slide-value-negative: calc($kf-slide-value * -1);
$kf-cubic: cubic-bezier(.45,.33,.31,1.13);
$delays: (
  "first": 0.4s, 
  "second": 0.7s, 
  "third": 1s,
  "last": 1.2s,
  "about-me-section": 2.5s
);

$grid-count: repeat(8, 1fr);