@font-face {  font-family: Bold-Text;
  src: url('./../fonts/IBMPlexMono-Bold.ttf'); }
@font-face {  font-family: Thin-Text;
  src: url('./../fonts/IBMPlexMono-Thin.ttf'); }
@font-face {  font-family: ThinItalic-Text;
  src: url('./../fonts/IBMPlexMono-ThinItalic.ttf'); }
@font-face {  font-family: Regular-Text;
  src: url('./../fonts/IBMPlexMono-Regular.ttf'); 
  font-style: normal;
  font-weight: 400;
}
@font-face {  
  font-family: Serif-Text;
  src: url('./../fonts/Trocchi-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {  
  font-family: Bungee;
  src: url('./../fonts/BungeeShade-Regular.ttf');
}

$fs-xl: clamp(1.75rem, 4vw, 2rem);
$fs-600: clamp(1.5rem, 3vw, 1.75rem);
$fs-500: clamp(1rem, 2.5vw, 1.5rem);
$fs-400: clamp(1rem, 1.4vw, 1.5rem);

$display-padding: 1rem;

$background: #F2EBDC;
$dark: #26221C;
$accent-3: #2AF5FF;
$accent-2: #FF934F;
$accent-main: #4B89BF;
$highlight: #E23467;
$accent-1: #C2E812;

$kf-timing: 0.6s;
$kf-slide-timing: 0.8s;
$kf-slide-value: 100svh;
$kf-slide-value-negative: calc($kf-slide-value * -1);
$delays: (
  "first": 0.4s, 
  "second": 0.7s, 
  "third": 1s,
  "last": 1.2s
);

$grid-count: repeat(8, 1fr);