@font-face {  font-family: Bold-Text;
  src: url('./../fonts/IBMPlexMono-Bold.ttf'); }
@font-face {  font-family: Thin-Text;
  src: url('./../fonts/IBMPlexMono-Thin.ttf'); }
@font-face {  font-family: ThinItalic-Text;
  src: url('./../fonts/IBMPlexMono-ThinItalic.ttf'); }
@font-face {  font-family: Regular-Text;
  src: url('./../fonts/IBMPlexMono-Regular.ttf'); 
  font-style: normal;
  font-weight: 400;
}
@font-face {  
  font-family: Serif-Text;
  src: url('./../fonts/Trocchi-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {  
  font-family: Bungee;
  src: url('./../fonts/BungeeShade-Regular.ttf');
}

$fs-xl: clamp(1.75rem, 4vw, 2rem);
$fs-600: clamp(1.5rem, 3vw, 1.75rem);
$fs-500: clamp(1rem, 2.5vw, 1.5rem);
$fs-400: clamp(1rem, 1.4vw, 1.5rem);

$display-padding: 1rem;

$background: #FDF0D5;
$dark: #331832;
$highlight: #D81E58;
$accent-main: #F0544F;
$accent-sec: #C6D8D3;

$kf-timing: 0.6s;
$kf-slide-timing: 0.8s;
$delays: (
  "first": 0.4s, 
  "second": 0.7s, 
  "third": 1s,
  "last": 1.2s
);