@use './global';
@use 'sass:map';

@keyframes Delay-Scroll{
  0%{
    overflow-y: hidden;
  }
  100%{
    overflow-y: scroll;
  }
}

body{
  height: 100svh;
  background-color: global.$background;
  font-family: Regular-Text;
  font-size: global.$fs-400;
  position: relative;
  animation-name: Delay-Scroll;
  animation-delay: map.get(global.$delays, "last"); 
  overflow: hidden;
  animation-fill-mode: forwards; 

  & > *{
    position: absolute;
  }
}


